<h2>User Registration</h2>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Username</label>
    <input type="text" formControlName="username" />

    @if (registerForm.get('username')?.touched && registerForm.get('username')?.hasError('required'))
     {
      <small>Username is required</small>
    }

    @if (
      registerForm.get('username')?.touched && registerForm.get('username')?.hasError('minlength')
    ) {
      <small>Username must be at least 3 characters</small>
    }
  </div>

  <br />

  <div>
    <label>First Name</label>
    <input type="text" formControlName="firstName" />
    @if (
      registerForm.get('firstName')?.touched && registerForm.get('firstName')?.hasError('required')
    ) {
      <small>First Name is required</small>
    }
  </div>

  <br />

  <div>
    <label>Last Name</label>
    <input type="text" formControlName="lastName" />
    @if (
      registerForm.get('lastName')?.touched && registerForm.get('lastName')?.hasError('required')
    ) {
      <small>Last Name is required</small>
    }
  </div>

  <br />

  <div>
    <label>Email</label>
    <input type="email" formControlName="email" />

    @if (registerForm.get('email')?.touched && registerForm.get('email')?.invalid) {
      <small>Enter valid email</small>
    }
  </div>

  <br />

  <div>
    <label>Password</label>
    <input type="password" formControlName="password" />

    @if (
      registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')
    ) {
      <small>Password is required</small>
    }

    @if (
      registerForm.get('password')?.touched && registerForm.get('password')?.hasError('minlength')
    ) {
      <small>Password must be at least 6 characters</small>
    }
  </div>

  <br />

  <div>
    <label>Learning Preferences</label>
    <input type="text" formControlName="learningPreferences" />
  </div>

  <br />

  <div>
    <label>Skill Summary</label>
    <textarea formControlName="skillSummary"> </textarea>
  </div>

  <br />

  <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form>
